<!DOCTYPE html>
<html>
	<head>
		<title>Loja WebFrameworks</title>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<h1>Loja WebFrameworks</h1>
		
		<p th:if="${#lists.isEmpty(produtos)}">
			A consulta não gerou resultados.
		</p>
		
		<table border="1" th:if="${not #lists.isEmpty(produtos)}">
			<tr>
				<th>ID</th>
				<th>Descrição</th>
				<th>Preço</th>
			</tr>
			
			<tr th:each="produto : ${produtos}">
				<td th:text="${produto.id}">x</td>
				<td th:text="${produto.descricao}">Produto</td>
				<td th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 1, 'POINT', 2, 'COMMA')}">R$ 0,00</td>
			</tr>
		</table>
	</body>
</html>